/* EN ESTA PARTE VA A ESTAR TODO LO COMUN DE LAS SUBPAGINAS EJ.: EL TITULO Y DESCRIPCION, ETC */
/* COLOR POR DEFECTO FONDOS Y TITULOS #cc2229; */
.wrapper-childs{
   position: relative;
   width: 100%;
   padding: 0;
   margin:0; 
   clear: both;
}

ol li {
   list-style-type: square;
}

ul, li, div, img {
    margin: 0;
    padding: 0;
}


.error-validaciones{
    color: gold;
    display: inline;
}

.error{
    color: #4288CE;
    float: left;
    position: relative;
}

p.info-result{
    font-size: 20px;
    font-weight: bold;
    color: #ffe45c;
}

.header-paginas{
    background: no-repeat -webkit-gradient(linear, 0 0, 0 50    , from(#ececec), to(#fff));
    background: -moz-linear-gradient(center top , #848484, white 50px) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 0 0 0;
    margin: 0 0 50px 0 ;
}
h1.titulo-pagina{
    color: #cc2229;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    font-size: 30px;
}

p{
    color: #505050;
    font-family: Calibri;
    font-size: 20px;
}


p.descripcion-titulos-paginas{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    
}
.formulario{
    color: #f6a828;
    width: 700px;
}

.label{
  font-size: 20px;
  margin-bottom: 5px;
  font-family: Calibri;
  color: #cc2229;
}

.text-field{
    font-size: 15px;
    margin-bottom: 5px;
    font-family: Calibri;
    color: #505050;
    
}

.text-field:focus{
    outline-color: #CD3F3F;
}

.text-area{
    display: inline;
    font-size: 15px;
    font-family: Calibri;
    color: #505050;
}

.text-area:focus{
    outline-color: #CD3F3F;
}

.button{
    height: 25px;
    width: 90px;
    background-color: #cc2229;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
}

.button:hover{
    text-decoration: none;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
}

.accion{
    color: #4288CE;
    font-size: 14px;
    margin-right: 5px;
    font-weight: bold;
}

.accion-volver{
    border-radius: 5px;
    background-color: #cc2229;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
    padding: 5px;
    font-weight: bold;
}
.accion-volver:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);    
}

.accion:hover{
    color: #86D2B6;
}
.file{
    margin-bottom: 5px;
}
.agregar{
    margin: 20px 0 0 5px;
}
.boton{
   margin: 0px 0 0 0px;
   padding: 5px 0 0 0;
   background-color:  #cc2229;
   width: 90px;
   height: 20px;
   display: block;
   border-radius: 5px;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   color: #fff;
   border-style: none;
   font-family: Arial;
}
.boton:hover{
    text-decoration: none;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
}

/* FIN COMUN PAGINAS*/


/*PAGINA PRINCIPAL*/


/*FIN PAGINA PRINCIPAL*/



/* ACTIVIDADES */ 

.actividades{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20px 0 20px 0;
}




ul.actividad{
    list-style: none;
    width: 700px;
    position: relative;
    border-left: 3px dashed;
    border-color: #505050;
}

li.actividad{
  list-style: none;
  position: relative;
  min-height: 100px;
  padding: 0 0 0 10px;
  margin-bottom: 25px;
}

hr{
    margin: 3px;
    padding: 0;
    clear: both;
}

.info{
    width: 540px;
    float: left;
    position: relative;
    margin-bottom: 5px;
}

h3.actividad{
    font-size: 24px;
    color: #000;
    margin: 2px;
    text-align: center;
}

p.actividad{
    line-height: 24px;
    margin: 5px 10px 0 0px;
    font-size: 20px;
    padding-bottom: 15px;

}

p.fecha{
    font-weight: bold;
    margin: 0 5px 0 0;
    text-align: left;
    font-size: 16px;
}


#imagen-actividad{
    width: 150px;
    height: 100px;
    position: relative;
    float: right;
}

#imagen-actividad img{
    max-width:100%; 
    max-height:100%;
}
/*FIN DE ACTIVIDADES*/

/* BIOGRAFIA */

#biografia{
    width: 100%;
    padding: 10px;

}

#biografia p{
    font-size: 20px;
    padding: 0 20px 0 0;
    margin: 0;
}

#bio-imagen{
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 0;

}

#bio-imagen img{
    max-height: 100%;
    max-width: 100%;
}


/*FIN BIOGRAFIA*/


/* INICIO LOGIN*/
.button-login{
    margin: 18px 19px 10px 0;
    float: right;
    background: #cc2229;
    height: 30px;
    width: 80px;
    color: #fff;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
}

.button-login:hover{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
}


.formulario-login{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    position: relative;
    color: #000;
}

.login{
    font-weight: bold;
    padding: 0 0 10px 15px;
    width: 280px;
    height: 100px;
    border-radius: 5px;
    border-color: #cc2229;
    border-style: solid;
    position: relative;
    margin: 0 auto;
}
label[rel ="login-form-user"]{
    margin-right: 41px;
    margin-bottom: 10px;
}

label[rel ="login-form-pass"]{
    margin-right: 15px;
}

input[rel ="login-form-user"]{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100px;
    height: 20px;
}
/*no se porque puta no funciona*/
#password{
    border-radius: 5px;
    width: 100px;
    height: 20px;
}




/*FIN LOGIN*/


/* INICIO ADMIN */

.menu-admin{
    position: relative;
    margin: 0 0 0 30px;
    width: 200px;
    
}


ul.menu-ul-admin > li{
    padding-top:10px;
    background-color:  #cc2229;
    border: #000 2px solid;
    border-radius: 5px;
    margin-top: 15px;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 5px;
    display: block;
}


ul.menu-ul-admin > li > a {
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

ul.menu-ul-admin > li:hover{
   background-color: orangered;
}
ul.menu-ul-admin > li:hover a{
    display: block;
}
/* FIN ADMIN */


/* INICIO COMENTARIOS */ 
.comentarios{
    margin-top: 50px;
}
.comentario{
    position: relative;
    padding: 10px 0 10px 5px;
}

.comentario > ul > li{
    margin: 0;
    padding: 0;
}
.info-persona-comentario{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    width: 35%;

}

.info-persona-comentario-t{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0;
    width: 35%;
}

.mensaje-comentario{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0;
    width: 40%;
}

.mensaje-comentario-t{
    position: relative;
    float: left;
    margin:0 0px 0 0;
    padding: 0 0 0 20px;
    width: 40%;
}


.comentarios > ul > li:first-child div{
    color:  #cc2229;
    margin: 0;
}
.comentarios > ul > li:first-child{
    background: no-repeat -webkit-gradient(linear, 0 0, 0 50    , from(#ececec), to(#fff));
    background: -moz-linear-gradient(center top , #848484, white 50px) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.eliminar-comentario{
    position: relative;
    float: left; 
    margin:0;
    padding:0 ;
    width: 10%;
}


.eliminar-comentario-t{
    position: relative;
    float: left; 
    margin:0;
    padding:0 0 0 18px;
    width: 10%;
}


p.comentario-p{
    margin: 0;
    font-size: 16px;
}
p.comentario-p span{
    font-size: 15px;
    font-weight: bold;
}

.comentario-linea{
    margin: 0;
    padding: 0;
    clear: both;
}

a[rel="eliminar-comentario"]{
    font-size: 18px;
    font-weight: bold;
}
/* FIN COMENTARIOS */

/* ACTIVIDADES BM */
.comentario-linea-a{
    clear: both;
    margin:0;
    padding: 0;
}
.actividades-bm{
    margin-top: 50px;
}

.actividad-bm{
   position: relative;
   padding:0;
}

.actividad-bm > ul > li{
    margin: 0;
    padding: 0;
}

.actividades-bm> ul > li:first-child div{
    color:  #cc2229;
    margin: 0;
}

.actividades-bm> ul > li:first-child div > h3{
    padding-left: 10px;
}

.actividades-bm > ul > li:first-child{
    background: no-repeat -webkit-gradient(linear, 0 0, 0 50    , from(#ececec), to(#fff));
    background: -moz-linear-gradient(center top , #848484, white 50px) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

.actividades-bm > ul > li{
    padding: 5px 0 0 5px;
}
.actividad-titulo{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0 0 0 0px;
    width: 20%;

}
.actividad-titulo-t{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0;
    width: 20%;
}
.actividad-descripcion{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0;
    width: 35%;
}
.descripcion-p {
    margin: 0;
    padding: 0;
}
.fecha-p {
    margin: 0;
    padding: 0;
}

.actividad-descripcion-t{
    position: relative;
    float: left;
    margin:0 20px 0 0px;
    padding: 0 0 0 15px;
    width: 35%;
}

.actividad-fecha{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0;
    width: 15%;
}
.actividad-fecha-t{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0 0 0 20px;
    width: 10%;
}

.accion-actividad{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0;
    width: 20%;
}

.accion-actividad-t{
    position: relative;
    float: left;
    margin:0 20px 0 0;
    padding: 0 0 0 60px;
    width: 20%;
}

p.titulo-p{
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

/* FIN ACTIVIDADES BM*/

/* INICIO PROPUESTAS BM */

#propuesta-custom{
    background-color:  #F5D0A9;
}
/* FIN PROPUESTAS BM*/






/* INICIO GALERIA */ 

.galeria-wrapper{
   position: relative;
   width: 100%;
   padding: 0;
   margin-top: 100px;
   clear: both;
}

/* FIN GALERIA */ 

/* INICIO PAGINACION BOOTSTRAP*/
/* aqui agregamos un with para poder centrar el navigator del paginador*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
  border-radius: 4px;
  width: 800px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 0px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}